**Autor:** Andrej Gajdoš  <br> 
_[Ústav matematických vied](https://www.upjs.sk/prirodovedecka-fakulta/ustav/umv/), [Prírodovedecká fakulta](https://www.upjs.sk/prirodovedecka-fakulta/), Univerzita Pavla Jozefa Šafárika v Košiciach,_ <br> 
email: [andrej.gajdos@upjs.sk](mailto:andrej.gajdos@upjs.sk)
*** 

**_Tento materiál vznikol za podpory grantu VVGS-2022-2412._**

***

**<font size=6 color=gold> Introduction to Pandas - assignments</font>**

In [29]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---

**1. Read 'Automobile_data.csv', consequently print first and last five rows.**

---

**2. Clean data and update (export new) the CSV file. Replace all column values which contain '?' and n.a with NaN.**

---

**3. Print most expensive car's company name and price.**

---

**4. Print all Toyota cars' details.**

---

**5. Count total cars per company.**

---

**6. For each company find the car with the highest price.**

---

**7. Create two data frames using the following two dicts, concatenate those two data frames and create a key for each data frame.**

In [16]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

---

**8. Create two data frames using the following two dicts, merge two data frames, and append the second data frame as a new column to the first data frame.**

In [18]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

---

**9. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the maximum value in each column.**

---

**10. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display the dataframe in Heatmap style.**

---

**11. Write a Pandas program to import given excel data (coalpublic2013.xlsx) into a DataFrame and draw a bar plot comparing year, MSHA ID, Production and Labor_hours of first ten records.**

***
<a id=references></a>
# <font color=brown> References</font>

* This tutorial was created with the help of official [Pandas tutorial](https://pandas.pydata.org/docs/getting_started/index.html) and also thanks to [Brendan Martin et al.](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/), [tutorialspoint.com](https://www.tutorialspoint.com/python_pandas/index.htm), [Vishal Hule](https://github.com/VishalHule).